In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib as pyplot
import seaborn as sn

In [2]:
df=pd.read_excel(r'sales price prediction_TV.xlsx')

In [3]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [4]:
df.shape  #total count of rows and col

(200, 4)

In [5]:
print(df.isnull().sum())

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [7]:
df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [8]:
df.describe() #df.describe(include="all")

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [10]:
correlation=df.corr()
print(correlation["Sales"])

TV           0.901208
Radio        0.349631
Newspaper    0.157960
Sales        1.000000
Name: Sales, dtype: float64

In [11]:
feature_col=['TV','Radio','Newspaper'] #separating input and output
x=df[feature_col]
y=df.Sales

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [31]:
display(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(140, 3)

(60, 3)

(140,)

(60,)

In [33]:
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [16]:
print(y_pred)

[17.15991908 20.53369503 23.68914396  9.5191455  21.60736836 12.78101318
 21.08636345  8.76054246 17.11499951 16.68789636  8.97584663  8.57645026
 18.33212325  8.17863567 12.64605571 14.94486946  8.34939536 17.83858948
 11.12172174 20.37740648 20.9483297  13.04035779 11.01360656 22.51142595
  9.40369784  7.98591291 20.86943368 13.77882255 10.83407064  8.00419229
 15.88597618 10.7027424  20.9521718  10.84679243 21.50720813 21.07347295
 12.22673775 22.85273767 12.57698182  6.54597206 11.93411853 15.23490068
 10.07411153  9.52159696 17.11786382  7.28032677 10.49404864 15.24356754
 11.20742176 11.78392665 14.01472163 14.59884572 10.82722434  9.55839415
  9.03749681 12.51183313 10.52551021 25.01900824  7.99334943 15.73916263]

In [21]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error,r2_score

In [34]:
print("r2 score",r2_score(y_test,y_pred))

r2 score 0.9091484341849799

In [35]:
print("r2 score", mean_absolute_error(y_test,y_pred))

r2 score 1.1594875061090584

In [36]:
#feature=[['TV','Radio','Newspaper']]
feature=np.array([[2000,5000,3400]])
print(model.predict(feature))

[652.4226584]

In [37]:
import pickle

In [39]:
with open('sales.pkl','wb') as file:
    pickle.dump(model,file)